.divider {

    display: flex;
    align-items: center;

    gap: 10px;

    margin: 20px 0 20px;
}

.divider::before,
.divider::after {

    content: "";

    flex: 1;

    height: 1px;

    background: #e5ddd4;
}

.divider span {
    /* padding: 0px; */

    background: #fff;

    border: 1px solid #ece3d8;

    border-radius: 999px;

    font-size: .72rem;

    font-weight: 700;

    letter-spacing: 1.5px;

    color: #9a8c80;
}

.googleButton {

    width: 100%;

    height: 54px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 14px;

    background: #fff;

    border: 1px solid #e5ddd4;

    border-radius: 16px;

    cursor: pointer;

    font-size: .98rem;

    font-weight: 600;

    transition: .35s;
}

.googleButton svg {

    font-size: 1.4rem;
}

.googleButton:hover {

    transform: translateY(-2px);

    border-color: var(--color-primary);

    box-shadow: 0 14px 35px rgba(0, 0, 0, .05);
}