.page {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 2rem;
    color: var(--darkBrown);
}

.header select {
    padding: .75rem 1rem;
    border-radius: 12px;
    border: 1px solid #e5d8c7;
    background: white;
    font-size: .95rem;
}