.title{

    font-family:var(--heading-font);

    font-size:clamp(2.7rem,4vw,3.8rem);

    line-height:1.15;

    font-weight:600;

    letter-spacing:-1px;

    color:var(--color-text);

    margin:0;
}