.header {
    padding: 2rem 0;
}

.container {
    width: min(1200px, 92%);
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 2rem;
}

.container h2 {
    margin-bottom: .75rem;
    font-size: clamp(2rem, 3vw, 2.8rem);
    font-family: var(--heading-font);
}

.container p {
    max-width: 620px;
    line-height: 1.5;
    color: var(--text-light);
}

@media(max-width:768px) {

    .header {
        padding-bottom: 0;
    }

    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .container h2 {
        font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    }

    .container p {
        font-size: small;
    }

}